<%- include ('./include/header.ejs') %> 
<%- include ('./include/_dash_board.ejs') %>

<div class="error404"><h1><%= title %></h1></div>
<footer class="foot">
    <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
  </footer>
<%- include ('./include/footer.ejs') %> 


<style>
  .error404 {
    margin: 200px;

  }
</style>