
    <%- include ('./include/header.ejs') %> 
    <%- include ('./partials/messages') %>
    <div class="all_contents_in_login">
       
         <div class="design-1 design"></div>
         <div class="design-2 design"></div>
         <div class="design-3 design"></div>
         <div class="design-4 design"></div>
         <div class="design-5 design"></div>
         <div class="design-6 design"></div>
         <div class="design-7 design"></div>
         <!-- <div class="design-9 design"></div>
         <div class="design-8 design"></div> -->
         
        
        <div class="first-div-log">
            <img class="logo-mon" src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1713521761/monitor_gkgov5.png"  alt="" width="200">
             
    

    
            <div class="div-svg">
                <img src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1713523166/94853_wfyskp.png" alt="">
            </div>
    
            <footer class="loginfooter">
                <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
            </footer>
           
        </div>
       
    
        <div class="second-div-log">
            
            
           
            <div class="forms">
            
               
    
                <div class="admin_log">
    
                        <h1 class="list_ones" style="font-size: 12px;">Click Here and Input Your Email then select user type</h1>
                    
                        <div class="hide_form">
                    <form action="/get-code" method="POST" class="hideit">
                        <!-- Other form fields -->
                        <div>
                            <input type="text" name="email" placeholder="Enter Email">
                        </div>
                        
                        
                        <div>
                  
                          <select id="userType" name="userType" required>
                            <option value="">Select User Type</option>
                            <option value="School">School</option>
                            <option value="Staff">Staff</option>
                            <option value="Learner">Learner</option>
                          </select>
                        </div>
                        <div>
                            <input type="submit" value="Login">
                        </div>
                      </form>
                </div>
            </div>    

            <div class="forget-password">
                <a href="/">back to login</a>
            </div>
              
            </div>
        </div>
       
    
       
    
        <!-- <div class="formings">
            <div class="square" style="--i:0;"></div>
            <div class="square" style="--i:1;"></div>
            <div class="square" style="--i:2;"></div>
            <div class="square" style="--i:3;"></div>
            <div class="square" style="--i:4;"></div> 
        </div> -->
    
       
        <footer class="loginfooters">
            <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
        </footer> 
      
      
    </div>
    
       
    
    <%- include ('./include/footer.ejs') %> 

    
    <script >
        // Assuming eyeClosed and eyeOpened are arrays of element
    
    let opens = document.getElementsByClassName("list_ones");
    
    let lastClicked = null;
    
    for(let i = 0; i < opens.length; i++) {
        opens[i].onclick = function() {
            // Toggle the "actives" class on the clicked element
            this.classList.toggle("actives");
    
            // Find the next sibling element
            let hideit = this.nextElementSibling;
    
            // Close the last clicked element if it exists and is not the current element
            if (lastClicked && lastClicked !== this) {
                lastClicked.nextElementSibling.style.maxHeight = null;
                lastClicked.nextElementSibling.style.opacity = '0';
                lastClicked.classList.remove("actives");
            }
    
            // Set the maxHeight of the clicked element's next sibling
            if (hideit.style.maxHeight) {
                hideit.style.maxHeight = null;
                hideit.style.opacity = '0';
            } else {
                hideit.style.maxHeight = hideit.scrollHeight + "px";
                hideit.style.opacity = '1';
            }
    
            // Set the last clicked element to the current element
            lastClicked = this;
        }
    }
    
    
    
    </script>
    
    
    
     
     <style>
        @media only screen and (max-width: 850px) {


        .div-svg  img  {
                width: 250px;
                margin-top: -100px;

            }

        }
        @media only screen and (max-width: 680px) {
            #userType{
            width: 100%;
        }
        }


        select{
            width: 250px;
        }
        

        .design {
            filter: blur(130px);
        }

        .all_contents_in_login {
            height: 100vh;
        }

        .loginfooter, .loginfooters {
           display: none;
        }   

        .fas {
            color: var(--light-blue);
            right: 0;
            cursor: pointer;
        }
         .all_messagesing {
             top: 50%;
         }
     
         .forget_pass {
            
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             justify-content: space-between;
             align-items: center;
         }
     
         .forget_pass a, .forget_pass i {
             color: var(--orange1);
         }
    
         .forget-password {
            margin-top: 30px;
         }
    
         .forget-password a{
           
            color: #4ca50f;
            font-family: 'PT' 'san';
            font-size: 14px;
            text-decoration: none;
         }
    
    
     </style>
    