<%- include ('./include/header.ejs') %> 
<%- include ('./partials/messages') %>
<div class="all_contents_in_login">
   
     <div class="design-1 design"></div>
     <div class="design-2 design"></div>
     <div class="design-3 design"></div>
     <div class="design-4 design"></div>
     <div class="design-5 design"></div>
     <div class="design-6 design"></div>
     <div class="design-7 design"></div>
     <div class="design-9 design"></div>
     <div class="design-8 design"></div>
     
    
    <div class="first-div-log">
        <img class="logo-mon" src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1713521761/monitor_gkgov5.png"  alt="" width="200">
         
   
            <div class="allh">
                <h2>Welcome! to the Future</h2>
                <h1>monitor</h1>
                <h5>The most reliable E-Result and School Management</h5>
            </div>  

        <div class="cover-for-svgs">
            <h3 class="monitorh5">monitor offers you</h3>

            <div class="svds">
                
                <div class="svg">
                    <img src="/img/ctg-1.png" alt="">
                    <P>CBT</P>
                </div>
                <div class="svg">
                    <img src="/img/ctg-2.png" alt="">
                    <p>Monetary</p>
                </div>
                <div class="svg">
                    <img src="/img/ctg-3.png" alt="">
                    <p>E-Result</p>
                </div>
                <div class="svg">
                    <img src="/img/support.png" alt="">
                    <P>Free Website</P>
                </div>
                
            </div>
        </div>

        <div class="div-svg">
            <img src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1713523166/94853_wfyskp.png" alt="">
        </div>

        <footer class="loginfooter">
            <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
        </footer>
       
    </div>
   

    <div class="second-div-log">
        
        <div class="about-us">
            <p>About us</p>
            <h1>Welcome to School Name</h1>
             <p> We are here to create a better atmosphere for easy school upgrading from files to smart usage ,
                School management is our top Priority and we give in our 100% to have your school memory save in the cloud 
            </p>
            
        </div>
        
       
        <div class="forms">
        
            <div class="di-log-in"> 
                <h1>Logins <i class="fas fa-exclamation"></i></h1>
            </div>

            <div class="admin_log">

                    <h1 class="list_ones">Are you an Admin ?</h1>
                
                <div class="hide_form">
                    <form action="/admin/admin_login" method="POST" class="hideit">
                        <div>
                            <input type="text" name="email" placeholder="Enter Email">
                        </div>

                        <div> 
                            <input type="password" id="pass2" name="password" placeholder="Enter Password">
                        </div>

                        <i class="fas fa-eye-slash fa-eye" onclick="togglePasswordVisibility('pass2')"></i>
                        <div>
                            <input type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>

            <div class="staff_log">

                    <h1 class="list_ones">Are you a Staff ?</h1>

                <div class="hide_form">

                    <form action="/staff/staff_login" method="POST" class="hideit">
                        <div>
                            <input type="text" name="email" placeholder="Enter Email">
                        </div>

                        <div>
                            <input type="password" id="pass1" name="password" placeholder="Enter Password">
                        </div>

                            <i class="fas fa-eye-slash fa-eye" onclick="togglePasswordVisibility('pass1')"></i>
                        <div>
                            <input type="submit" value="Login">
                        </div>
                        </form> 
                </div>
            </div>
        
            <div class="parent_log">
                    <h1 class="list_ones"> Are you a Parent/Learner ?</h1>
                <div class="hide_form">
                    <form action="/learner/login" method="POST" class="hideit">
                        <div>
                           
                            <input type="text" name="email" placeholder="Enter Email">
                        </div>
                        <div>
                            
                            <input type="password" id="pass3" name="password" placeholder="Enter Password" >
                        </div>
                        <i class="fas fa-eye-slash fa-eye" onclick="togglePasswordVisibility('pass3')"></i>
                        <div>
                            <input type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>

            <div class="forget-password">
                <a href="/forget-password">Forget Password?</a>
            </div>
          
        </div>
    </div>
   

   

    <!-- <div class="formings">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div> 
    </div> -->

   
    <footer class="loginfooters">
        <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
    </footer>
  
  
</div>

   

<%- include ('./include/footer.ejs') %> 

<script>
        let eyeClosed = document.getElementsByClassName('fa-eye');
 let eyeOpened = document.getElementsByClassName('fa-eye-slash');
 
 // Adding a click event listener to each element in the collection
 for (let i = 0; i < eyeClosed.length; i++) {
     eyeClosed[i].addEventListener('click', function() {
         // Toggle between 'fa-eye' and 'fa-eye-slash'
         // this.classList.toggle('fa-eye');
         this.classList.toggle('fa-eye-slash');
     });
 }

function togglePasswordVisibility(fieldId) {
    var x = document.getElementById(fieldId);
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}

</script>

<script >
    // Assuming eyeClosed and eyeOpened are arrays of element

let opens = document.getElementsByClassName("list_ones");

let lastClicked = null;

for(let i = 0; i < opens.length; i++) {
    opens[i].onclick = function() {
        // Toggle the "actives" class on the clicked element
        this.classList.toggle("actives");

        // Find the next sibling element
        let hideit = this.nextElementSibling;

        // Close the last clicked element if it exists and is not the current element
        if (lastClicked && lastClicked !== this) {
            lastClicked.nextElementSibling.style.maxHeight = null;
            lastClicked.nextElementSibling.style.opacity = '0';
            lastClicked.classList.remove("actives");
        }

        // Set the maxHeight of the clicked element's next sibling
        if (hideit.style.maxHeight) {
            hideit.style.maxHeight = null;
            hideit.style.opacity = '0';
        } else {
            hideit.style.maxHeight = hideit.scrollHeight + "px";
            hideit.style.opacity = '1';
        }

        // Set the last clicked element to the current element
        lastClicked = this;
    }
}



</script>



 
 <style>
    .fas {
        color: var(--light-blue);
        right: 0;
        cursor: pointer;
    }
     .all_messagesing {
         top: 50%;
     }
 
     .forget_pass {
        
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
     }
 
     .forget_pass a, .forget_pass i {
         color: var(--orange1);
     }

     .forget-password {
        margin-top: 30px;
     }

     .forget-password a{
       
        color: #4ca50f;
        font-family: 'PT' 'san';
        font-size: 14px;
        text-decoration: none;
     }


 </style>