<%- include ('./include/header.ejs') %> 
<%- include ('./partials/messages') %>
<div class="all_contents_in_login">
   
    <img class="logo-mon" src="/img/monitor.png" alt="" width="200">
         
   
   

    <div class="second-div-log">
       
        <div class="forms">
        
            <div class="di-log-in"> 
                <h1>Logins <i class="fas fa-exclamation"></i></h1>
            </div>

            <div class="admin_log">

                    <h1 class="list_ones">Fill in your Email, Code and Identity </h1>
                
                <div class="hide_form">
                    <form action="/recover-gmail-password" method="POST" class="hideit">
                        <!-- Other form fields -->
                        <div>
                          <label for="email">Email:</label>
                          <input type="email" id="email" name="email" required>
                        </div>
                        <div>
                          <label for="recoveryCode">Recovery Code:</label>
                          <input type="text" id="recoveryCode" name="recoveryCode" required>
                        </div>
                        <div>
                          <label for="newPassword">New Password:</label>
                          <input type="password" id="newPassword" name="newPassword" required>
                        </div>
                        <div>
                          <label for="userType">User Type:</label>
                          <select id="userType" name="userType" required>
                            <option value="">Select User Type</option>
                            <option value="School">School</option>
                            <option value="Staff">Staff</option>
                            <option value="Learner">Learner</option>
                          </select>
                        </div>
                        <button type="submit">Submit</button>
                      </form>
                </div>
            </div>    

            <div class="forget-password">
                <a href="/forget-password">Back</a>
            </div>
          
        </div>
    </div>
   

  
</div>

   

<%- include ('./include/footer.ejs') %> 

<script >
    // Assuming eyeClosed and eyeOpened are arrays of element

let opens = document.getElementsByClassName("list_ones");

let lastClicked = null;

for(let i = 0; i < opens.length; i++) {
    opens[i].onclick = function() {
        // Toggle the "actives" class on the clicked element
        this.classList.toggle("actives");

        // Find the next sibling element
        let hideit = this.nextElementSibling;

        // Close the last clicked element if it exists and is not the current element
        if (lastClicked && lastClicked !== this) {
            lastClicked.nextElementSibling.style.maxHeight = null;
            lastClicked.nextElementSibling.style.opacity = '0';
            lastClicked.classList.remove("actives");
        }

        // Set the maxHeight of the clicked element's next sibling
        if (hideit.style.maxHeight) {
            hideit.style.maxHeight = null;
            hideit.style.opacity = '0';
        } else {
            hideit.style.maxHeight = hideit.scrollHeight + "px";
            hideit.style.opacity = '1';
        }

        // Set the last clicked element to the current element
        lastClicked = this;
    }
}



</script>


<style>
    form div {
         display: flex;
         flex-direction: column;
         justify-content:left;
         color: var(--lighter-blue);
         font-size: 12px;
         font-weight: bolder;
     }
 
     form button {
         outline: none;
         border: none;
         padding: 12px 26px;
         background-color: var(--light-blue);
         color: var(--deepest--blue);
     }
 
     form button:focus{
         outline: 2px solid var(--light-blue);
         border: 2px solid var(--lighter-blue)
         padding: 12px 26px;
         background-color: var(--deepest-blue);
         color: var(--lighter-blue);
     }
 
     a {
         font-family: 'PT' 'san';
         color: var(--lighter-blue);
         margin-top: 20px;
         font-size: 12px;
     }
 </style>