

<div id="customPopup" class="popup">

    <div class="popup-content">
      <p>Status changed successfully!</p>
      <button id="closePopup">Close</button>
    </div>
  </div>
  
<div class="p_head">
    <% if(user.img.url) {%> 
        <img src="<%= user.img.url %>" alt="Learner Image" width="100">
     <% } else {%> 
         <img src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1713521762/school_logo-01_rf6ogn.png" alt="" width="100">
         <% } %> 
</div>
<div class="ul-one x-it" id="big-door">
 
    <div class="div-timess"><i class="fas fa-times" id="tii"></i></div>
    <ul>
       
        <li class="logOUT"><form action="/admin/logout" method="POST" class="logoutss">
            <button type="submit" class="nnnnn"><i class="fas fa-sign-out-alt"></i></button>
        </form></li>
        <p>Check result <i class="fas fa-hand-point-right"></i></p>
        <li><button  class="btn btn-open">1st & 2nd Term</button></li>
        <li><button  class="btn btn-opens">3rd Term</button></li>
    </ul>
  
</div>
<div class="div-bar divmenuHide"> <i class="shii fas fa-bars" id="shii"></i></div>




<div class="menu-toggle" onclick="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

<div class="modality">
    <section class="modal hidden">
      
        <div class="flex">
            <h1>First-Term & Second-Term</h1>
            <button class="btn-close"><i class="fas fa-times"></i></button>
        </div>
        <div> 
            <form action="/admin/check_result" method="GET">
            <div class="inputss">
                <label for="">Term:</label>
                    <select name="name" required>
                        <option value="First-Term">First-Term</option>
                        <option value="Second-Term">Second-Term</option>
                    </select>
            </div>
            <div class="inputss">
                <label for="">Admin No:</label>
                <input type="text" name="admin_no" value="" required>
            </div>
            <div class="inputss">
                <label for="">Roll_No:</label>
                <input type="text" name="roll_no" value="" required>
            </div>
            <div class="inputss">
                <label for="">Class Of:</label>
                <input type="text" name="classof" value="" required>
            </div>
            <div class="inputss">
                <label for="">Enter Pin:</label>
                <input type="text" name="code" value="">
            </div>
            <button class="btns">Fetch Result</button>

            </form>
        
        </div>
   
    </section>
    <div class="overlay hidden"></div>
</div>



<div class="modality">
    <section class="modals hiddens">
       
      
        <div> 
            <div class="flexs">
                <h1>Third-Term</h1>
                <button class="btn-closes"><i class="fas fa-times"></i></button>
            </div>
            <form action="/admin/check_third_result" method="GET">
            <div class="inputss">
                <label for="">Term:</label>
                <select name="name" id="name" required>
                    <option value="Third-Term">Third-Term</option>
                </select>
            </div>
            <div class="inputss">
                <label for="">Admin No:</label>
                <input type="text" name="admin_no" value="" required>
            </div>
            <div class="inputss">
                <label for="">Roll_No:</label>
                <input type="text" name="roll_no" value="" required>
            </div>
            <div class="inputss">
                <label for="">Class Of:</label>
                <input type="text" name="classof" value="" required>
            </div>
            <div class="inputss">
                <label for="">Enter Pin:</label>
                <input type="text" name="code" value="">
            </div>
            <button class="btns">Fetch Result</button>

            </form>
        
        </div>
   
    </section>
    <div class="overlays hiddens"></div>
</div>

<div class="side_bar  reveals">
    <p><i class="fas fa-user-shield"></i> Admin Bar</p>
    <div class="one">
        <li class="list_two"><a href="/admin/admin_dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    </div>
    <div class="one">
        <li class="list_one"><i class="fas fa-hourglass-start"></i> </i> Session & Section <i class="fas fa-puzzle-piece"></i> </li>
        <div class="hidee">
            <li>- <a href="/admin/create-session"> Add Session</a></li>
            <li>- <a href="/admin/all-session/1"> Manage Session</a></li>
            <li>- <a href="/admin/create-section"> Add Section</a></li>
            <li>- <a href="/admin/all-section/1"> Manage Section</a></li>
            <li>- <a href="/admin/all-thirdsection/1"> Manage 3rd Section</a></li>
        </div>
    </div>
    <div class="one">
        <li class="list_one"><i class="fas fa-home"></i> School </li>
         <div class="hidee">
            <li>-<a href="/admin/school_management"> Add Proprietor Statement</a></li>
            <li>-<a href="/admin/all-staffs">All Staffs</a></li>
            <li>-<a href="/admin/create-staff-statement"> Add staffs Statement</a></li>
            <li>-<a href="/admin/school-detail"> School Details</a></li>
            <li>-<a href="/admin/manage_all"> Manage Proprietor & Staffs' Statements</a></li>
            <li>-<a href="/admin/create-currentclass"> Add Current Class</a></li>
            <li>-<a href="/admin/all-currentclass/1"> Manage Current Class</a></li>
        </div>
    </div>
    <div class="one">
        <li class="list_one"><i class="bi bi-folder-plus"></i> CBT </li>
         <div class="hidee">
            <li>-<a href="/admin/create-cbt/1">Create Test</a></li>
            
        </div>
    </div>
    <div class="one">
        <li class="list_one"><i class="fas fa-user-friends"></i> Student & Subject <i class="fas fa-book"></i>  </li>
         <div class="hidee">
             <li>-<a href="/admin/create-learner"> Add Student</a></li>
            <li>-<a href="/admin/all-learner/1"> Manage Students</a></li>
            <li>-<a href="/admin/create-subject"> Add Sublect</a></li>
            <li>-<a href="/admin/all-subject/1"> Manage Subjects</a></li>
        </div>
    </div>
    <div class="one">
        <li class="list_one"> <i class="fas fa-cog"></i> School Website</li>
         <div class="hidee">
             <li>-<a href="/admin/add_event"> Add Event </a></li>
            <li>-<a href="/admin/all-learner/1"> All Events </a></li>
            <li>-<a href="/admin/add_blog"> Add Blog</a></li>
            <li>-<a href="/admin/all-subject/1"> All Blogs </a></li>
        </div>
    </div>
   
     <div class="one">
        <li class="list_one"><i class="fas fa-ticket-alt"></i> Voucher </li>
         <div class="hidee">
            <li>-<a href="/admin/voucher-payment"> <i class="fas fa-cash-register"></i> Make Payment </a></li>
            <li>-<a href="/admin/get-gen-voucher/1"> <i class="fas fa-ticket-alt"></i> Generate Voucher</a></li>
        </div>
    </div>
    <div class="one">
        <li class="list_one"><i class="fas fa-chart-line"></i> Reports </li>
         <div class="hidee">
            <li>-<a href="/admin/learners/0"> Learners Report</a></li>
            <li>-<a href="/admin/alumni/1"> Past Learners</a></li>
            <li>-<a href="/admin/search">  <i class="bi bi-search" style="cursor: pointer; color: #4caf50;"></i> Search  </a></li>
        </div>
    </div>
</div>

<style>
    #big-door {
          transition: all 0.7s ease-in-out; /* Move the transition property here */
    }
  </style>
  
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
  
     // Close pop-up box on button click
  $('#closePopup').click(function() {
    $('#customPopup').hide();
  });
  
 

    function toggleMenu() {
  const menuToggle = document.querySelector('.menu-toggle');
  const header = document.querySelector('.side_bar');
  menuToggle.classList.toggle('open');
  header.classList.toggle('reveals');
}

    
  </script>
  

