<div class="p_head"><h1>Nurture Academy</h1></div>
<div class="ul-one">
    <ul>
        <li><a href="#" class="href"> <span class="material-symbols-outlined">
logout
</span>
        <li><a href="#" class="href">Home</a></li>
        <li><a href="#" class="href">Check Result</a></li>
    </ul>
</div>