
<div class="ul-one">
    <ul>
        <li><a href="#" class="href"> <span class="material-symbols-outlined">
logout
</span>
        <li><a href="#" class="href">Home</a></li>
        <li><a href="#" class="href">Check Result</a></li>
    </ul>
    <%- include ('./preloader.ejs')%>
</div>