

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');
:root {
  --deepest-blue: #033767; 
  --deep-blue: #295daf;
  --light-blue: #09abf0;
  --lighter-blue:#75bff4;
    --white: #ffffff;
    --white_one: #f7f7f7;
    --white_two: #e7e6e2;
    --white_three: #e2e2e2;
    --red: #c30010;
    --red-1: #d1001f;
    --red-2: #de0a26;
    --red_:#FF0000;
    --crimson:#DC143C;
    --bad-red: #750000;
    --ubuntu: 'Ubuntu', sans-serif ;
    --ubuntu-light: 'Ubuntu light', sans-serif;
    --ubuntu-regular: 'Ubuntu regular', sans-serif;
    --ubuntu-bold: 'Ubuntu bold', sans-serif;
    --ubuntu-medium: 'Ubuntu Medium', sans-serif;
    --playfair: 'Playfair Display', sans-serif;
    --playfair-light: 'Playfair Display Light', sans-serif;
    --playfair-regular: 'Playfair Display Regular', sans-serif;
    --playfair-medium: 'Playfair Display Medium', sans-serif;
    --playfair-bold: 'Playfair Display Bold', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --montserrat-light: 'Montserrat Light', sans-serif;
    --montserrat-regular: 'Montserrat Regular', sans-serif;
    --montserrat-bold: 'Montserrat Bold', sans-serif;
    --montserrat-medium: 'Montserrat Medium', sans-serif;
}

html{
  min-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ubuntu-medium);
}
  body {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center; 
    width: 100%;
    animation: fadeIn 5s ease forwards;
    background: linear-gradient(#031941e3, #002945e3), url(https://res.cloudinary.com/dj6xdawqc/image/upload/v1713523200/img_9_btolwi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 120px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  .header ul li{
    display: inline;
    font-style: none;
    padding: 14px 16px ;
    transition: .5s;
  }

  .header ul li:hover a{
    color: var(--deep-blue);
    transform: translateX(9px);
  }

  .header ul li a {
    text-decoration: none;
    color: var(--white_two);
    font-family: var(--ubuntu-medium);
    transition: .5s;
  }

  .header img {
    width: 150px;
  }

  .header button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: var(--deep-blue);
    color: var(--white);
    border-radius: 15px;
    font-size: 13px;
    transition: .3s;
  }

  .header button:hover {
    outline: 3px solid var(--deep-blue);
    background-color: var(--white);
    color: var(--deep-blue);
    border-radius: 15px;
  }

  .togeda {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 50px;
    line-height: 1.3;
  }

  .togeda .imag_pj {
    width: 550px;
    
  }
  
  .togeda .imag_pj button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: var(--deep-blue);
    color: var(--white);
    border-radius: 15px;
    font-size: 13px;
    transition: .3s;
    margin-top: 20px;
  }

  .togeda .imag_pj button:hover {
    outline: 3px solid var(--deep-blue);
    background-color: var(--white);
    color: var(--deep-blue);
    border-radius: 15px;
  }

  .togeda h1{
    font-size: 40px;
    color: var(--white);
    font-weight: bolder;
    padding: 0 0 20px 0;
  }

  .togeda-p{
    color: var(--white_two);
    font-family: var(--ubuntu-light);
    line-height: 1.6;
  }

  .togeda .login-box {
    padding: 40px;
    background: var(--white);
    color: #404040;
 
  }

  .login-box h2 {
    font-size: 22px;
    font-family: var(--montserrat-bold) !important;
    padding: 10px 0 10px 0;
  }

  .togeda .login-box form .user-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: var(--montserrat-light);
    color: #404040;
  
  }

  .togeda .login-box form .user-box input {
    padding: 14px 30px;
    border: none;
    outline: none;
    outline: 1px solid var(--white_two);
    /* width: 300px; */
  }

  .togeda .login-box form select {
    padding: 14px 30px;
    border: none;
    outline: none;
    outline: 1px solid var(--white_two);
    /* width: 300px; */
    margin-bottom: 25px;
  }

  .logo-mon {
    display: none;
  }

 .togeda .login-box form button {
    border: none;
    outline: none;
    padding: 13px 25px;
    background-color: var(--deep-blue);
    color: var(--white);
    border-radius: 15px;
    font-size: 13px;
    transition: .3s;
  }
  .togeda .login-box form label {
    margin-bottom: 15px;
    font-family: var(--montserrat-medium);
    font-size: 13px;
  }

 .togeda .login-box form button:hover {
    outline: 3px solid var(--deep-blue);
    background-color: var(--white);
    color: var(--deep-blue);
    border-radius: 15px;
  }

  .foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .foot h3 {
    font-size: 12px;
    color: var(--white_three);
    font-family: var(--ubuntu-light);

  }
  .menu-toggle {
    width: 30px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
    display: none;
  }
  
  .bar {
    width: 100%;
    height: 3px;
    background-color:var(--white_three); 
    margin: 5px 0;
    transition: all 0.3s ease;
  }
  
  .menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: rgb(0, 0, 0);
  }
  
  .menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
    background-color: rgb(0, 0, 0);
  }
  



  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 1000px){

    .togeda .imag_pj {
      width: 400px;
    }

    .togeda .login-box {
      padding: 20px;
    }
   
  }


  @media only screen and (max-width: 800px){

    .togeda .imag_pj {
      width: 300px;
    }

    .togeda .login-box {
      padding: 20px;
    }
   
  }

  @media only screen and (max-width: 700px){

    .togeda  {
      flex-direction: column;
      margin-top: 200px;
      justify-content: center;
      align-items: center;
      gap: 100px;
     
    }

    .foot {
      position: relative;
      width: 100%;
      text-align: center;
    }
    .imag_pj {
      text-align: center;
    }

    .imag_pj, .login-box {
      width: 70%;
    }

    .togeda .login-box {
      padding: 20px;
    }

    .menu-toggle {
      display: block;
      z-index: 999;
    }

   .logo-mon {
      position: absolute;
      left: 20px;
      top: 20px;
     width: 100px;
    }

    .header img {
      display: none;
    }

    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      z-index: 5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px;
      gap: 50px;
      opacity: 1;
      transition: 1s;
   
    }

    .header ul  {
     margin-top: -300px;
   
    }

    .header ul li {
      display: block;
   
    }

    .header ul li a{
      color: #3c3c3c;
    }

    .remove {
      left: -1000px;
      opacity: 0;
      transition: 1s;
    }
   
  }

  @media only screen and (max-width: 450px) {
    .login-box, .imag_pj {
      width: 92%;
    }
  }

  /* ==================================MOdal---------------------- */

  .every {
    position: absolute;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px grey;
    font-family: var(--ubuntu-light);
    line-height: 1.6;
    color: #021220;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 20px;
    z-index: 1;
  
  }
  
  .okbutton {
    padding: 10px;
    background-color: var(--deep-blue) ;
    border: 1px solid var(--lighter-blue);
    border-radius:10px ;
    width: 100px;
    color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.294), -2px -2px 5px rgba(0, 0, 0, 0.096);
  }
  
  .closeds {
    z-index: 999;
    position: absolute;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px grey;
    font-family: var(--ubuntu-light);
    line-height: 1.6;
    color: #021220;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 20px;
  
  }
  
  .mainButton {
    padding: 10px;
    background-color: var(--deep-blue) ;
    border: 1px solid var(--lighter-blue);
    border-radius:10px ;
    width: 100px;
    color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.294), -2px -2px 5px rgba(0, 0, 0, 0.096);
  }
  
  .buttini {
    padding: 10px;
    background-color: var(--deep-blue) ;
    border: 1px solid var(--lighter-blue);
    border-radius:10px ;
    width: 100px;
    color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.294), -2px -2px 5px rgba(0, 0, 0, 0.096);
  }
  
  .pade {
    position: absolute;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px grey;
    font-family: var(--ubuntu-light);
    line-height: 1.6;
    color: #021220;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 20px;
    z-index: 1;
  
  
  }
  
  .pressIt {
    padding: 10px;
    background-color: var(--deep-blue) ;
    border: 1px solid var(--lighter-blue);
    /* border-radius:10px ; */
    cursor: pointer;
    width: 100px;
    color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.294), -2px -2px 5px rgba(0, 0, 0, 0.096);
  }
  
  .coverup {
    position: absolute;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px grey;
    font-family: var(--ubuntu-light);
    line-height: 1.6;
    color: #021220;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 20px;
    z-index: 1;
  
  }

  .d-fas {
    font-size: 35px;
    color: royalblue;
    border: yellow;
    text-shadow: 2px 2px 5px grey;
    animation-name: animation;
    animation-duration: 1s;
}

@keyframes animation {
    0%{
        font-size: 5px;
    }

    30%{
        font-size: 75px;
    }

    70%{
        font-size: 100x;
    }

    100%{
        font-size: 20px;
    }
}